<?xml version="1.0" encoding="utf-8"?><!--
  ~ Developed by Ji Sungbin 2024.
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/jisungbin/search-app-circuit/blob/trunk/LICENSE
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:name="land.sungbin.searchapp.circuit.App"
    android:icon="@mipmap/ic_launcher"
    android:theme="@android:style/Theme.Material.Light.NoActionBar">

    <activity
      android:name=".MainActivity"
      android:configChanges="colorMode|density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
      android:exported="true"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

  </application>
</manifest>